header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: hsl(162, 70%, 30%);
    
    h1 {
        font-family: 'Patrick Hand', cursive;
        font-size: 32px;
    }
}