@use "../abstracts/" as a;
body {
    height: 100vh;
    width: 100vw;
    font-family: Roboto;
    color: white;
    background-color:rgb(35, 35, 35);
    background-size: 100px;
    /* @include a.element-color(#fff); */
    background-image: url("../assets/snake_background_dgrey.svg");
}

#container {
    display:flex;
    align-items: center;
    flex-direction: column;
}

#subcontainer {
    display:flex;
}

#tip {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: rgb(43, 151, 223);
}

