#score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    border-radius: 10px;
    background-color: rgb(255, 155, 41);
    margin: 10px 0 10px 0;
    font-weight: 700;
    font-size: 20px;
    color: black;
}

#score {
    margin-left: 1ch;
    font-size: 28px;
}