#score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    border-radius: 10px;
    background-color: rgb(255, 155, 41);
    margin: 10px 0 10px 0;
    font-weight: 700;
    font-size: 20px;
    color: black;
}

#score {
    margin-left: 1ch;
    font-size: 28px;
    /* transform: scale(2);
    transition: transform .5s ease-in-out; */
    animation: 1s ease-in-out popUp;

    @keyframes popUp {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(2);
        }
        100% {
            transform: scale(1);
        }
    }

}